.main-chat
  .main-chat__header
    %ul.main-chat__header__left
      %li.main-chat__header__left__groupname GROUP
      %li.main-chat__header__left__membername fumiya
    .main-chat__header__edit-btn Edit

  .main-chat__message
    .main-chat__message__upper-info
      .main-chat__message__upper-info__talker shouya
      .main-chat__message__upper-info__date 2019/11/14 22:57
    .main-chat__message__text this is a first message.

  .main-chat__form
    = form_for [@group, @message] do |f|
      .main-chat__form__new__message
        .main-chat__form__new__message__input-box
          = f.text_field :content, class: "main-chat__form__new__message__input-box__text", placeholder: "type a message"
          = f.label :image, class: "main-chat__form__new__message__input-box__image" do
            = icon('fas', 'image')
            = f.file_field :image, class: 'main-chat__form__new__message__input-box__image__file'
          = f.submit 'Send', class: 'main-chat__form__new__message__submit-btn'